<template>
  <p>Страничка пустая</p>
  <p v-if="!home">Нет выбраных пользователей</p>
  <p v-if="home">Нет пользователей</p>
  <p>Выберите на главной страничке пользователей</p>
  <router-link to="/">Главная</router-link>
</template>
<script>
  export default {
    name: "EmptyPage",
    props: ['home']
  }
</script>
