.users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-area: content;
  margin: 50px 0;
}

.clear-button {
  padding: 20px;
  background-color: tomato;
  border-radius: 1%;
  color: white;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #c1543a;
}

.clear-container {
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
