<template>
  <div class="users">
    <div v-if="filteredList.length" class="clear-container">
      <span>Очистить ВСЕ</span>
      <button class="clear-button" v-on:click="() => clearAll()">BOOM</button>
    </div>
    <UsersListItem
      :filtered-list="filteredList"
      :handle-change="(selected) => handleChange(selected)"
      :favourites-page="true"
    />
  </div>
  <div class="users-empty" v-if="!filteredList.length && favourites.length">
    <p>Пользователей не найдено по данным поиска...</p>
  </div>
  <div class="users-empty" v-else-if="!favourites.length">
    <EmptyPage/>
  </div>
</template>
<script>
  import store from '../store'
  import EmptyPage from "./EmptyPage";
  import UsersListItem from "./UsersListItem";
  import './favouritesList.scss'

  export default {
    name: 'UsersList',
    components: {EmptyPage, UsersListItem},
    data() {
      return {
        favourites: store.state.favourites,
        search: store.state.search,
        errors: [],
      }
    },
    computed: {
      filteredList() {
        if (Number(store.state.search)) {
          return JSON.parse(JSON.stringify(this.favourites)).filter(user => {
            return user.id.toString().includes(store.state.search.toString())
          });
        }
        return JSON.parse(JSON.stringify(this.favourites)).filter(user => {
          return user.login.toLowerCase().includes(store.state.search.toLowerCase())
        })
      }
    },
    methods: {
      handleChange(selected) {
        store.commit('favouritesChange', selected);
        this.favourites = selected;
      },
      clearAll() {
        this.favourites = [];
        store.commit('favouritesChange', []);
      }
    },
  }
</script>


