<template>
  <header class="header">
    <input class="search" v-model="search" type="text" placeholder="Поиск">
  </header>
</template>
<script>
  import store from '../store'
import './header.scss'
  export default {
    name: "Header",
    data() {
      return {
        isExpanded: false,
        users: store.state.users,
        search: '',
      };
    },
    methods: {
      handleChange() {
        store.commit('searchChange', this.search)
      }
    },
    watch: {
      search: function (query) {
        return store.commit('searchChange', query)
      }
    }
  }
</script>
