$primary-color: #edecfa;
$secondary-color: #ffffff;
$search-background: #908ae0;

.search {
  padding: 10px;
  min-width: 20%;
}

.header {
  width: 100%;
  height: 150px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}
