<template>
  <sidebar-menu hide-toggle :menu="menu"/>
</template>
<script>
  export default {
    name: "SideBarMenu",
    data() {
      return {
        menu: [
          {
            title: 'Меню',
            hiddenOnCollapse: true,
          },
          {
            href: {path: '/'},
            title: 'Пользователи',
            icon: {
              element: 'img',
              attributes: {src: 'https://img.icons8.com/color/48/000000/group-foreground-selected.png'}
            }
          },
          {
            href: {path: '/favourites'},
            title: 'Выбранные',
            icon: {
              element: 'img',
              attributes: {src: 'https://img.icons8.com/color/48/000000/filled-star--v1.png'}
            }
          },
        ]
      }
    }
  }
</script>

