.users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-area: content;
  margin: 50px 0;
}

.users-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: content;
  flex-direction: column;
}
