<template>
  <div class="user-page">
    <div class="user-info">
      <div>
        <img class="user-avatar" v-bind:src="user.avatar_url"
          :alt="user.login">
      </div>
      <div class="user-links">
        <a v-bind:href="'https://twitter.com/' + user.twitter_username"
          target="_blank" class="user-link">
          <img
            src="https://img.icons8.com/color/48/ffffff/twitter-circled--v1.png"
            alt="Twitter"/>
        </a>
        <a v-bind:href="user.html_url" target="_blank" class="user-link">
          <img src="https://img.icons8.com/fluency/48/ffffff/github.png"
            alt="Github"/>
        </a>
        <a v-bind:href="user.blog" target="_blank" class="user-link">
          <img src="https://img.icons8.com/fluency/48/ffffff/domain.png"
            alt="Website"/>
        </a>
      </div>
      <div class="grid-table">
        <div class="grid-table-row">
          <div class="grid-table-cell">Досье</div>
        </div>
        <div class="grid-table-row">
          <div class="grid-table-cell">Имя</div>
          <div class="grid-table-cell">{{user.name}}</div>
          <div class="grid-table-cell">ID</div>
          <div class="grid-table-cell">{{user.id}}</div>
          <div class="grid-table-cell">Логин</div>
          <div class="grid-table-cell">{{user.login}}
          </div>
          <div class="grid-table-cell" v-if="!!user.location">От куда?</div>
          <div class="grid-table-cell" v-if="!!user.location">
            <a v-bind:href="'https://www.google.com/maps/place/' +
            user.location" target="_blank" class="user__location">
              <img
                src="https://img.icons8.com/external-justicon-flat-justicon/25/ffffff/external-google-maps-social-media-justicon-flat-justicon.png"/>
              {{user.location}}
            </a>
          </div>
          <div class="grid-table-cell">Сколько
            подписчиков?
          </div>
          <div class="grid-table-cell">
            {{user.followers}}
          </div>
          <div class="grid-table-cell">Сколько подписок?
          </div>
          <div class="grid-table-cell">
            {{user.following}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import axios from "axios";
  import store from "../store";
  import './userProfile.scss'

  export default {
    name: "UserDetails",
    // props: ['id'],
    data() {
      return {
        user: {},
        id: this.$route.params.id,
      }
    },
    created() {
      axios.get(`https://api.github.com/users/${this.id}`)
        .then(res => {
          this.user = res.data;
          store.commit('userChange', res.data);
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  }
</script>

