.user-page {
  display: grid;
  grid-area: content;
}

.user-page {
  display: grid;
  grid-area: content;
}

.user-location {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-avatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 2px solid #ffffff4a;
}

.user-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-link {
  margin: 10px 20px;
}

.grid-table {
  display: grid;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  background: rgba(#fafafa, 0.9);
  border-radius: 0.5rem;

  @media (max-width: 800px) {
    background: transparent;
    grid-row-gap: 2rem;
    box-shadow: none;
  }

  &-row {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    @media (max-width: 800px) {
      grid-template-columns: 3fr 1fr 3fr;
      background: rgba(#fafafa, 0.9);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
      border-radius: 0.5rem;
    }

    @media (max-width: 400px) {
      grid-template-columns: 1fr 1fr;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    &:first-child {
      border-radius: 0.5rem 0.5rem 0 0;
      background: rgba(#ccc, 0.5);
      font-weight: bold;
      text-shadow: 0 2px 1px #fff;

      @media (max-width: 800px) {
        display: none;
      }
    }
  }

  &-cell {
    padding: 1rem;
    @media (max-width: 800px) {
      padding: 0 0 1rem 0;
      text-align: center;
    }

    &:not(:last-child) {
      border-right: 1px solid #ddd;
    }

    @media (max-width: 800px) {
      &:before {
        content: attr(data-title);
        font-weight: bold;
        display: block;
        background: rgba(#ddd, 0.8);
        padding: 0.75rem;
        margin-bottom: 0.75rem;
        font-size: 1rem;
      }
      &:first-child {
        grid-column-start: 1;
        grid-column-end: 5;
        border-bottom: 1px solid #ddd;

        &:before {
          border-radius: 0.5rem 0.5rem 0 0;
        }
      }
    }

    @media (max-width: 400px) {
      &:last-child {
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }
  }
}
