<template>
  <div class="user" v-for="item in filteredList" :key="item.id">
    <div class="user-info">
      <div class="user-cover">
        <img class="user-avatar" v-bind:src="item.avatar_url" :alt="item.login">
      </div>
      <router-link :to="{name: 'UserDetails', params: {id: item.login}}">
        {{item.login}}
      </router-link>
      <span class="user-id">{{item.id}}</span>
      <input
        v-if="!favouritesPage"
        :id="item.id"
        type="checkbox"
        class="user-checkbox"
        v-model="selected"
        :value="item"
        v-on:change="() => handleChange(selected)"
        v-on:checked="() => isChecked(item)"/>
      <input
        v-if="favouritesPage"
        :id="item.id"
        type="checkbox"
        class="user-checkbox"
        v-model="selected"
        :value="item"
        v-on:change="() => handleChange(selected)"
        checked
      />
    </div>
  </div>
</template>
<script>
  import store from '../store'
  import './usersListItem.scss'

  export default {
    name: "UsersListItem",
    props: ['filteredList', 'handleChange', 'isChecked', 'favouritesPage'],
    data() {
      return {
        selected: store.state.favourites
      }
    },
  }
</script>




