<template>
  <div class="users">
    <UsersListItem
      :filtered-list="filteredList"
      :handle-change="(selected) => handleChange(selected)"
      :is-checked="() => isChecked()"
    />
  </div>
  <div class="users-empty" v-if="!filteredList.length && users.length">
    <p>Пользователей не найдено по данным поиска...</p>
  </div>
  <div class="users-empty" v-else-if="!loading && !users.length">
    <EmptyPage :home="true"/>
  </div>
</template>
<script>
  import axios from 'axios'
  import store from '../store'
  import EmptyPage from './EmptyPage'
  import UsersListItem from './UsersListItem'
  import './usersList.scss'

  export default {
    name: 'UsersList',
    components: {
      UsersListItem,
      EmptyPage
    },
    data() {
      return {
        users: [],
        errors: [],
        loading: true,
      }
    },
    methods: {
      handleChange(selected) {
        store.commit('favouritesChange', selected);
      }
    },
    computed: {
      filteredList() {
        if (Number(store.state.search)) {
          return JSON.parse(JSON.stringify(this.users)).filter(user => {
            return user.id.toString().includes(store.state.search.toString())
          });
        }
        return JSON.parse(JSON.stringify(this.users)).filter(user => {
          return user.login.toLowerCase().includes(store.state.search.toLowerCase())
        })
      }
    },
    isChecked(value) {
      const arr = JSON.parse(JSON.stringify(store.state.favourites));
      return !arr.includes(value);
    },
    created() {
      axios.get('https://api.github.com/users')
        .then(res => {
          this.users = res.data;
          store.commit('usersChange', res.data);
          this.loading = false
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  }
</script>


