.user {
  position: relative;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  color: white;
  font-weight: 700;
  background-color: #ffcc90;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.user-id {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: 400;
}

.user-cover img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff4a;
}

.user-checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
