
@font-face {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

body {
  margin: 0
}

#app {
  font-family: Lato, sans-serif;
  font-size: 14px;
  display: grid;
  grid-template-columns: 0.155fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "Block header header header header header header"
    "Block content content content content content content"
    "Block content content content content content content"
    "Block content content content content content content"
    "Block content content content content content content"
    "Block content content content content content content"
    "Block content content content content content content";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}


