<template>
  <SideBarMenu />
  <Header />
  <router-view></router-view>
</template>

<script>
  import SideBarMenu from './components/SideBarMenu.vue'
  import store from './store'
  import Header from "./components/Header";

  export default {
    name: 'App',
    components: {
      Header,
      SideBarMenu
    },
      created() {
      if (localStorage.getItem('favourites')){
        store.commit('favouritesChange', JSON.parse(localStorage.favourites));
      }
    },
  }
</script>
